{% extends "base.html" %}

{% block title %}
    Chattr- Login Portal
{% endblock title %}


{% block content %}

		<div class="row">
			<div class="col-md-4">
				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}

					<input type="submit" value='Login' class="btn btn-outline-primary">
				</form>
			</div>

			<div class="col-md-7">
				<h4>Welcome Back To <i>VIBEz!</i> Login And Start chatting!</h4><hr>
				<p class="description">
					Welcome back there <i>VIBEz!</i> looks like you were logged out the last session. just to ensure your security please login again.
				</p>
			</div>
		</div>
{% endblock content %}