<!DOCTYPE html>
{% load static %}
<html>
<head>

		
		<!-- Title -->
		<title>{% block title %} {% endblock title %}</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
		
		<!-- Style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/svg" href="{% static 'favicon.svg' %}">


</head>
<body style="background: #202020; color: whitesmoke;">


		<!-- Nav -->
		<nav class="navbar navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: orangered; font-weight: 300; box-shadow: 0px 0px 20px 5px #000; font-family: 'Ubuntu', sans-serif;">
		  <a class="navbar-brand" href="{% url 'home' %}">VIBEz</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  {% if user.is_authenticated %}
		      
		      <div class="collapse navbar-collapse" id="navbarNav">
		        <ul class="navbar-nav">
		          <li class="nav-item active">
		            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'chat:all' %}">Chat</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
		          </li>
		        </ul>
		      </div>
		  
		  {% else %}
		  	<div class="collapse navbar-collapse" id="navbarNav">
		        <ul class="navbar-nav">
		          <li class="nav-item active">
		            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
		          </li>
		        </ul>
		      </div>
		  {% endif %}
		</nav>


		<!-- Content -->
		<div class="container" style="margin-top: 50px;">{% block content %}{% endblock content %}</div>
		<br><br><hr><br><br>





		<button onclick="topFunction()" id="go-to-top" title="Go to top">&#8593;</button>
		<script type="text/javascript">
			//Get the button:
			go_to_top = document.getElementById("go-to-top");

			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function() {scrollFunction()};

			function scrollFunction() {
			  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 200) {
			    go_to_top.style.display = "block";
			  } else {
			    go_to_top.style.display = "none";
			  }
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
			  document.body.scrollTop = 0; // For Safari
			  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
			}
		</script>
</body>
</html>