{% extends "base.html" %}

{% block title %}
    Index
{% endblock title %}

{% block content %}

		{% if not user.is_authenticated %}
<h1 class="heading" style="text-align: center;">Welcome To <i>VIBEz!</i></h1><br><hr class="hr"><br>
		    <h5>Table Of Contents</h5><br>
	     	| <a href="#introduction" class="link">Introduction</a> |
	    	<a href="#help" class="link">Getting Help</a> |
	    	<a href="#about-us" class="link">About Us</a> |
	    	<a href="#thanks" class="link">Thank You</a>  | <br><hr style="background: #555;"><br>
		    <!-- Other Stuff -->

		    <div class="wrapper" style="text-align: center;">
		    			<div id="introduction">
    				    <br><br><br><h3 class="sub-heading">Wondering Where To Chat? This Is The Place For You!</h3>
    				    <p class="description">
    				    	Welcome To The All The New Chatting Platform <i>VIBEz!</i>  This A Global Community Where You and your freinds family any one chat! any time, anywhere!
    				    	make friends do chatting and what not you can do over here!
    					  </p>
    					  <br><br>
    				    <h3 class="sub-heading">Is It A Nightmare, That Your Activity Is Been Tracked?</h3>
    				    <p class="description">
    				    	And The Most Importantly "Is my information and activity is been tracked ?". No! Even a piece of your valuable privacy is
    				    	been tracked. because your privacy is our duty.
    				    </p>
    				    <br><br>
    				    <h3 class="sub-heading">Ready To Experience The Change?</h3>
    				    <p class="description">
							So what are thinking about? join the <i>vibez</i> community now! and experience the change!
    				    </p>
    				    <br><br><br>
		    			</div>
		    			<div id="help">
		    				<br><br><br><h3 class="heading">Getting Help</h3><br>
		    				<p class="description">This is Me, Ramandeep kaur The Developer and Maintaner/Admin of this site if at any time you want to co-orperate or report any bugs about this site please report it here- ramanbhutta7274@gmail.com. Hope so will help to develope a more better and strong community- Ramandeep kaur<p><br>
		    				<br><br><br>
		    			</div>
		    			<div id="about-us">
		    				<br><br><br><h3 class="heading">About Us</h3><br>
		    				<p class="description">We are the <i>Vibez!</i> Well, Hello and welcome to the chat App global community! here thousands of people chat and discuss whatever they want this is a virtual heaven for people who like to be social and want a size that is easy to operate with and co-orperate with! This is Me, Ramandeep kaur The Developer and Maintaner/Admin of this site if at any time you want to co-orperate or report any bugs about this site please report it here- ramanbhutta7274@gmail.com. Hope so will help to develope a more better and strong community-Ramandeep kaur</p><br><br>
		    			</div><br><br><br>
		    			<div id="thanks">
		    				<br><br><br><h3 style="font-family: 'Poppins', sans-serif;">Thanks For Visting Us!</h3><br><br><br>
		    			</div>
		    </div>
		    <br><br>































		{% else %}
		    <h1 class="heading" style="text-align: center;">Welcome Back, {{ user }}!</h1><br><hr class="hr"><br><br>
		    <h2 class="normal">You Are Now Logged In To VIBEz!</h2><br><hr><br>
		    <h4 class="normal">What Would You Like To Do ?</h4><br>

		  | <a href="{% url 'chat:all' %}" class="link">Do Chatting</a> |
		    <a href="{% url 'accounts:logout' %}" class="link">Logout</a> |
		    <a href="#explore" class="link">Explore Our Site</a> |
		    <a href="#introduction" class="link">Introduction</a> |
	    	<a href="#help" class="link">Getting Help</a> |
	    	<a href="#about-us" class="link">About Us</a> |
	    	<a href="#thanks" class="link">Thank You</a>  | <br><hr style="background: #555;"><br>

		    <div id="explore">

                <div class="wrapper" style="text-align: center;">
		    			<div id="introduction">
    				    <br><br><br><h3 class="sub-heading">Wondering Where To Chat? This Is The Place For You!</h3>
    				    <p class="description">
    				    	Welcome To The All The New Chattr! This A Global Community Where You and your freinds family any one chat! any time, anywhere!
    				    	make friends do chatting and what not you can do over here!
    					  </p>
    					  <br><br>
    				    <h3 class="sub-heading">Is It A Nightmare, That Your Activity Is Been Tracked?</h3>
    				    <p class="description">
    				    	And The Most Importantly "Is my information and activity is been tracked ?". No! Even a piece of your valuable privacy is
    				    	been tracked. because your privacy is our duty.
    				    </p>
    				    <br><br>
    				    <h3 class="sub-heading">Ready To Experience The Change?</h3>
    				    <p class="description">
    				        So what are thinking about? join the chattr community now! and experience the change!
    				    </p>
    				    <br><br><br>
		    			</div>
		    			<div id="help">
		    				<br><br><br><h3 class="heading">Getting Help</h3><br>
		    				<p class="description">This is Me, Ramandeep kaur The Developer and Maintaner/Admin of this site if at any time you want to co-orperate or report any bugs about this site please report it here- ramanbhutta7274@gmail.com. Hope so will help to develope a more better and strong community- Ramandeep kaur<p><br>
		    				<br><br><br>
		    			</div>
		    			<div id="about-us">
		    				<br><br><br><h3 class="heading">About Us</h3><br>
		    				<p class="description">We are the Vibez! Well, Hello and welcome to the chattrs global community! here thousands of people chat and discuss whatever they want this is a virtual heaven for people who like to be social and want a size that is easy to operate with and co-orperate with! This is Me, Ramandeep kaur The Developer and Maintaner/Admin of this site if at any time you want to co-orperate or report any bugs about this site please report it here- ramanbhutta7274@gmail.com. Hope so will help to develope a more better and strong community-Ramandeep kaur</p><br><br>
		    			</div><br><br><br>
		    			<div id="thanks">
		    				<br><br><br><h3 style="font-family: 'Poppins', sans-serif;">Thanks For Visting Us!</h3><br><br><br>
		    			</div>
		    </div>

		    	<br><br>
		    </div>
		{% endif %}

{% endblock content %}
